<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <h1 class="header__h1">Welcome to Amansan Dwaso</h1>
        <nav class="header__nav">
            <ul class="header__ul">
                <li>
                    <a href="{{ url_for('us_login') }}">User Login</a>
                </li>
                <li>
                    <a href="{{ url_for('ad_login') }}">Admin Login</a>
                </li>
                <li>
                    <a href="{{ url_for('view_cart') }}">Admin Login</a>
                </li>
            </ul>
        </nav>
    </header>
    Hey there, buy whatever you want!
    <!-- Product Display -->
    <div class="product-grid">
        <!-- Products will be dynamically added here -->
    </div>
</body>
</html>